<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="option1.css" media="screen" />

    <title>Menu</title>
</head>

<body>
    <section></section>
    <div class="container">

        <div class="navbar">
            <input type="checkbox" id="check" class="navbar" />
            <label for="check" class="navbar">
                <img class="icon" src="../../../../public/images/cerveja.png" alt="icone-cerveja">
            </label>
            <nav class="navbar">
                <ul class="navbar">

                    <li>
                        <a href=""><img class="navbar" id="casa" src="../../../../public/images/pagina-inicial.png"></a>
                    </li>
                    <li>
                        <a href=""><img class="navbar" src="../../../../public/images/medalha.png"></a>
                    </li>
                    <li class="rafa">
                        <input type="checkbox" id="menu" class="Menu" />
                        <a href="">
                            <label for="menu" class="Menu">
                                <img class="navbar" id="menu_img" src="../../../../public/images/cardapio (1).png" alt="menu">
                            </label>
                        </a>
                    </li>
                </ul>
            </nav>

        </div>
        <div class="option">

            <button><a href="../../forms/option1/Cadastrar/Cadastrar.html"> Cadastrar Novo Funcionário</a></button>
            <button> <a href="../../forms/option1/Editar/Editar.html">  Editar um Funcionário </a> </button>
            <button><a href="../../forms/option1/Remover/Remove.html">   Remover um Funcionário </a></button>
            <button><a href="../../forms/option1/Pesquisar/Pesquisar.html"> Pesquisar um Funcionário </a> </button>

            <div class="voltar">
                <button><a href="../../Menu.html">Voltar</a> </button>
            </div>
        </div>


    </div>

</body>

</html>